<div data-page-name="<%= page_name %>">
  <%= render "pets/navbar_dashboard" %>
  <div class="container-fluid text-primary py-0">
	<div class="container py-5">
	  <div class="row">
		<div class="col-12 col-lg-8 mx-auto text-center">
		  <h1 class="display-4 display-md-5 fw-bold mb-4">
			<%= @pet.name %>'s Treatments
		  </h1>
		</div>
	  </div>
	  <div class="row">
		<div class="col-12">
		  <% if @treatments.any? %>
			<div class="table-responsive table-card">
			  <table class="table table-hover">
				<thead>
				  <tr>
					<th scope="col">Name</th>
					<th scope="col">Type</th>
					<th scope="col">Start</th>
					<th scope="col">End</th>
					<th scope="col">Dosage</th>
					<th scope="col">Frequency</th>
					<th scope="col">Renewal</th>
					<th scope="col">Notes</th>
					<th scope="col">Actions</th>
				  </tr>
				</thead>
				<tbody>
				  <% @treatments.each do |treatment| %>
					<tr>
					  <td><%= treatment.name %></td>
					  <td class="text-capitalize"><%= treatment.treatment_type %></td>
					  <td><%= treatment.start_date.strftime("%d/%m/%Y") %></td>
					  <td><%= treatment.end_date&.strftime("%d/%m/%Y") %></td>
					  <td><%= treatment.dosage %></td>
					  <td><%= treatment.frequency %></td>
					  <td><%= treatment.renew_date&.strftime("%d/%m/%Y") %></td>
					  <td><%= treatment.notes %></td>
					  <td>
						<%= link_to edit_pet_treatment_path(@pet, treatment), class: "btn btn-sm btn-outline-primary me-2" do %>
						  <i class="fa-regular fa-pen-to-square"></i>
						<% end %>
						<%= link_to pet_treatment_path(@pet, treatment),
							data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this treatment?" },
							class: "btn btn-sm btn-outline-danger" do %>
						  <i class="fa-regular fa-trash-can"></i>
						<% end %>
					  </td>
					</tr>
				  <% end %>
				</tbody>
			  </table>
			</div>
		  <% else %>
			<div class="text-center py-5">
			  <p class="mb-4">No treatments recorded yet.</p>
			</div>
		  <% end %>
		  <div class="d-flex justify-content-center gap-4 mt-4">
			<div class="text-center">
			  <%= link_to 'Back', pet_path(@pet), class: "btn btn-secondary rounded-pill" %>
			</div>
			<%= link_to new_pet_treatment_path(@pet), class: "btn btn-primary rounded-pill" do %>
			  <i class="fa-solid fa-plus me-2"></i>Add a treatment
			<% end %>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>