<%= render "navbar_dashboard" %>

  <div class="container-fluid text-primary py-0">
	<div class="container py-5">
	  <div class="row">
		<div class="col-12 col-lg-8 mx-auto text-center">
		  <h1 class="display-4 display-md-5 fw-bold mb-4">
			<%= @pet.new_record? ? "Create a profile for your pet" : "Update my pet profile" %>
		  </h1>
		</div>
	  </div>
	  <div class="row">
		<div class="col-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
		  <%= simple_form_for @pet, html: { class: 'form-horizontal' } do |form| %>
			<div class="mb-4 text-center">
			  <%= form.input :name, label: "<strong>Pet Name</strong>".html_safe, required: true, input_html: { class: "form-control text-center bg-white" } %>
			</div>

			<div class="mb-4 text-center">
			  <%= form.input :specie, collection: Pet::SPECIES, label: "<strong>Species</strong>".html_safe, prompt: "Select a species", required: true, input_html: { class: "form-control text-center bg-white" } %>
			</div>

			<div class="mb-4 text-center">
			  <%= form.input :breed, label: "<strong>Breed (Optional)</strong>".html_safe, input_html: { class: "form-control text-center bg-white" } %>
			</div>

			<div class="mb-4 text-center">
			  <%= form.input :gender, collection: Pet::GENDERS, label: "<strong>Gender</strong>".html_safe, prompt: "Select a gender", required: true, input_html: { class: "form-control text-center bg-white" } %>
			</div>

			<div class="mb-4 text-center">
			  <%= form.input :vet_id, collection: Vet.all.map { |vet| ["#{vet.first_name} #{vet.last_name}", vet.id] },
				label: "<strong>Vet</strong>".html_safe,
				prompt: "Select a vet",
				required: false,
				input_html: { class: "form-control text-center bg-white" } %>
			</div>

		   <div class="mb-4  text-center">
			 <label class="form-label">
			   <strong>Date of Birth</strong>
			 </label>
			 <div class="input-group">
			   <%= form.input :birth_day,
				   label: false,
				   as: :string,
				   required: true,
				   wrapper: false,
				   input_html: {
					 data: { controller: "datepicker" },
					 class: "form-control text-center bg-white"
				   } %>
			   <span class="input-group-text">
				 <i class="fa-regular fa-calendar"></i>
			   </span>
			 </div>
		   </div>

       <div class="mb-4 text-center">
			  <%= form.input :photo, as: :file, label: "<strong>Add a photo of your pet</strong>".html_safe, input_html: { class: "form-control text-center bg-white" } %>
			</div>

		   <div class="d-flex justify-content-between">
			 <div class="text-center">
				<%= link_to 'Cancel',
				@pet.new_record? ? pets_path : pet_path(@pet),
				class: "btn btn-secondary rounded-pill" %>
			  </div>
			  <div class="text-center">
				  <% if @pet.new_record? %>
					<%= form.button :submit, "Add", class: "btn btn-primary rounded-pill" %>
				  <% else %>
					<%= link_to "Remove", pet_path(@pet),
						class: "btn btn-danger rounded-pill mx-2",
						data: {
						  turbo_method: :delete,
						  turbo_confirm: "Are you sure to remove #{@pet.name} ?"
						} %>
					<%= form.button :submit, "Update", class: "btn btn-primary rounded-pill" %>
				  <% end %>
			  </div>

		   </div>

		  <% end %>


		</div>
	  </div>
	</div>
  </div>
