<%# ...existing code... %>
<div class="btn-group mb-4" role="group" aria-label="Hygiene Types">
  <% Hygiene.hygiene_types.keys.each do |type| %>
    <%= link_to pet_hygienes_path(type: type), class: "btn btn-outline-primary" do %>
      <%= type.capitalize %>
    <% end %>
  <% end %>
</div>

<% Hygiene.hygiene_types.keys.each do |type| %>
  <h3><%= type.capitalize %></h3>
  <% @hygienes.where(hygiene_type: type).each do |hygiene| %>
    <div class="list-group-item border-0 px-0">
      <h6 class="mb-1 text-capitalize"><%= hygiene.hygiene_type %></h6>
      <p class="mb-1 small"><%= hygiene.date.strftime("%B %d, %Y") %> - <%= hygiene.frequency %> times</p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted"><%= hygiene.note %></small>
      </div>
    </div>
  <% end %>
<% end %>
<%# ...existing code... %>