<!-- filepath: /root/code/fannyevepl/buddy/app/views/hygienes/index.html.erb -->
<div data-page-name="<%= page_name %>">
  <%= render "pets/navbar_dashboard" %>
  <div class="container-fluid text-primary py-0">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-lg-8 mx-auto text-center">
          <h1 class="display-4 display-md-5 fw-bold mb-4">Hygiene Records for <%= @pet.name %></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <% if @hygienes.any? %>
            <div class="list-group">
              <% @hygienes.each do |hygiene| %>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center w-100 h6" href="<%= edit_pet_hygiene_path(@pet, hygiene) %>">
                  <div class="d-flex align-items-center">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-block mr-3 icon">
                      <image xlink:href="<%= asset_path("icons/#{hygiene.hygiene_type}.svg") %>" src="yourfallback.png" width="50" height="50"></image>
                    </svg>
                    <span class="mb-0 h6 text-capitalize"><%= hygiene.hygiene_type %></span>
                  </div>
                  <i class="material-icons d-block">keyboard_arrow_right</i>
                </a>
              <% end %>
            </div>
          <% else %>
            <div class="text-center py-5">
              <p class="mb-4">No hygiene records yet.</p>
            </div>
          <% end %>
          <div class="d-flex justify-content-center gap-4 mt-4">
            <div class="text-center">
              <%= link_to 'Cancel', pet_path(@pet), class: "btn btn-secondary rounded-pill" %>
            </div>
            <%= link_to new_pet_hygiene_path(@pet), class: "btn btn-primary rounded-pill" do %>
              <i class="fa-solid fa-plus me-2"></i>Add New Hygiene Record
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>