<div data-page-name="<%= page_name %>" style="position: relative; height: 100vh;">
  <div style="background-image: url('<%= asset_path('landing_image.png') %>'); background-size: auto; background-position: center -50px; opacity: 1; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
  <%= render "navbar" %>
  <div class="container-fluid text-primary py-5" style="height: 100%;">
    <div class="home container py-5" style="height: 100%;">
      <div class="row">
        <div class="col-12 col-lg-6 mx-auto text-center" style="height: 100%;">
            <h1 class="display-1 display-md-2 fw-bold mb-4">Simplifying life for you and your pet</h1>
          <p class="lead mb-4">With Buddy, organize your pet's daily life, health, nutrition and activities, and simplify your own.</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 col-md-8 col-lg-6 col-xl-4 mx-auto text-center">
          <div class="d-flex flex-column align-items-stretch gap-4">
            <%= link_to 'Get Started', new_user_registration_path, class:"btn btn-primary rounded-pill btn-lg px-4 flex-fill" %>
            <%= link_to 'How does it work?', how_path, class:"btn btn-primary rounded-pill btn-lg px-4 flex-fill" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
