<div data-page-name="new_measurement">
<%= render "pets/navbar_dashboard" %>
  <div class="container-fluid text-primary py-0">
	<div class="container py-5">
	  <div class="row">
		<div class="col-12 col-lg-8 mx-auto text-center">
		  <h1 class="display-4 display-md-5 fw-bold mb-4">Add a new measurement for <%= @pet.name %></h1>
		</div>
	  </div>
	  <div class="row">
		<div class="col-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
		  <%= simple_form_for [@pet, @measurement], html: { class: 'form-horizontal' } do |form| %>
			<div class="mb-4 text-center">
			  <%= form.input :measurement_type, 
				  collection: Measurement.measurement_types.keys, 
				  label: "<strong>Type of Measurement</strong>".html_safe,
				  prompt: "Select a measurement type",
				  required: true,
				  input_html: { class: "form-control text-center bg-white" } %>
			</div>

			<div class="mb-4 text-center">
			  <%= form.input :value,
				  label: "<strong>Value</strong>".html_safe,
				  required: true,
				  input_html: { 
					class: "form-control text-center bg-white",
					step: :any
				  } %>
			</div>

			<div class="mb-4 text-center">
			  <label class="form-label">
				<strong>Date of Measurement</strong>
			  </label>
			  <div class="input-group">
				<%= form.input :date,
					label: false,
					as: :string,
					required: true,
					wrapper: false,
					input_html: { 
					  data: { controller: "datepicker" },
					  class: "form-control text-center bg-white"
					} %>
				<span class="input-group-text">
				  <i class="fa-regular fa-calendar"></i>
				</span>
			  </div>
			</div>

			<div class="mb-4 text-center">
			  <%= form.input :notes,
				  label: "<strong>Notes</strong>".html_safe,
				  required: false,
				  input_html: { 
					class: "form-control text-center bg-white",
					rows: 3
				  } %>
			</div>

			<div class="d-flex justify-content-between">
			  <div class="text-center">
				<%= link_to 'Cancel', pet_measurements_path(@pet), class: "btn btn-secondary rounded-pill" %>
			  </div>
			  
			  <div class="text-center">
				<%= form.button :submit, form.object.new_record? ? "Add Measurement" : "Update Measurement", class: "btn btn-primary rounded-pill" %>
			  </div>
			</div>
		  <% end %>
		</div>
	  </div>
	</div>
  </div>
</div>